celery
Django
django-allauth
django-countries
django-crispy-forms
django-rest-swagger
django-shopping-cart
djangorestframework
djangorestframework-simplejwt
drf-yasg
mysql-client
mysql-connector
mysqlclient
Pillow
razorpay
redis
virtualenv
waitress
whitenoise