{% extends "vbase.html" %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />


{% block content %}
<div style="background-color: bisque;">

<center> <br><br>   

    <h1>Add Food Here!</h1> <br>
    <div style="width:300px; height:600px;">

        <form method="POST" action="/vender/FoodView/" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}} <br>
            <input type="submit" value="Add Food">
        </form>
    </div>
</center>

{% endblock %}