{% extends "vbase.html" %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />


{% block content %}
<style>
    #right {
        height: max-content;
        width: 25%;
        float: right;
        background-color: rgb(175, 167, 167);
    }

    #left {
        height: fit-content;
        width: 75%;
        float: left;
        background-color: rgb(245, 228, 208);

    }
</style>

<!-- ---- Category area ------- -->

<div id="right">
    <a href="{% url 'vender:category' %}" class="btn btn-secondary">Add Category</a>

    <center>
        <h1>Category</h1> <br>
        {% for row in cat %}
        {{row.cat_name}} <br>
        <img src="{{row.image.url}}" height="100px" width="200px"> <br><br><br>
        {% endfor %}
    </center>
</div>


<!-- ---- Food area ------- -->


<div id="left">

    <a href="{% url 'vender:food' %}" class="btn btn-secondary">Add Food</a>



    <div class="mx-3 mt-3">
        <div class="row">
            {% for row in foods %}

            <div class="card mb-3" style="width: 18rem;">
                <img class="card-img-top" src="{{row.image.url}}" style="width:260px; height: 150px;"
                    alt="Card image cap">
                <div class="card-body">
                    <div class="card-title" style="color: blue;">{{row.name}}</div>
                    <div class="card-text">{{row.description}}</div>
                    <div class="card-text">Price: ₹{{row.price}}</div>
                    <div class="card-text">{{row.category}}</div>
                    <div class="card-text">Restaurant : {{row.restaurant}}</div>
                    <a href="#" class="btn btn-primary">see more..</a>
                    <a href="{% url 'vender:deletefood' row.id %}" style="float:right; color:rgb(99, 95, 95);"><i class="fa
                        fa-trash fa-2x"></i></a>
                </div>
            </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% endfor %}
        </div>
    </div>


    <!-- ---- Pagination area ------- -->

    <div id="nav">
        <nav aria-label=" ..." style="display: flex; justify-content:center;align-items:center;">
            <ul class="pagination">
                {% if page_obj.has_previous %}

                <li class="page-item">
                    <a class="page-link" href="/vender/?page={{page_obj.previous_page_number}}" tabindex="-1">Previous</a>
                </li>

                {% endif %}

                <li class="page-item"><a class="page-link" href="/vender/?page=1">1</a></li>

                <li class="page-item">
                    <a class="page-link" href="/vender/?page=2">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="/vender/?page=3">3</a></li>

                <li class="page-item"><a class="page-link" href="/vender/?page=4">4</a></li>

                <li class="page-item"><a class="page-link" href="/vender/?page=5">5</a></li>


                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="/vender/?page={{page_obj.next_page_number}}">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endblock %}