{% extends "base.html" %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

{% block content %}
{% load static %}
<div style="background-color: bisque; height:max-content">

    {{message}}
<center>
     <div>
        <form action="{% url 'alluser:signup' %}" method="POST" style="width: 300px; height:1000px;">
            {% csrf_token %}
            <img src="{% static 'images/signup.png' %}" width="180" height="150">
            {{form|crispy}}<br>
            <button type="submit" class="btn btn-danger">SignUp</button>

        </form>
    </div>

</center>
</div>
{% endblock %}