{% extends "base.html" %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

{% block content %}
<div style="background-color: bisque; height:max-content">

    {{message}}
    <center>
        <div>Update Profile</div>
        <div>
            <form  method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form | crispy}}
                <button type="submit" class="btn btn-danger">Update</button>

            </form>
        </div>

    </center>
</div>
{% endblock %}