{% extends 'cbase.html' %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

{% block content %}



<div style="background-color: bisque; height:max-content">

    <center> <br>
        <h2>Update Profile</h2>
        <form method="POST" enctype="multipart/form-data" style="width: 300px; height:500px;">
            {% csrf_token %}
            {{form | crispy}} <br>
            <button type="submit" class="btn btn-danger">Update</button>
        </form>
    </center>
</div>
{% endblock %}