{% extends 'cbase.html' %}
{% block content %}
{% load cartfilter %}

<div class="mx-5 mt-5">
    <div class="row">
        <center>
        <div class="card mb-3" style="width: 19rem;">
            <img class="card-img-top" src="{{row.image.url}}" style="width:260px; height: 150px;" alt="Card image cap">
            <div class="card-body">
                <div class="card-text" style="color:blue">{{row.name}}</div>
                <div class="card-text">Price: ₹{{row.price}}</div>
                <div class="card-text">{{row.category}}</div>
                <div class="card-text">Restaurant : {{row.restaurant}}</div>
                <a href="/customer/AddInWishlist/?food={{row.id}}" style="float:right; color:red"><i
                        class="fa fa-heart"></i></a>
            </div>
            <div class="card-footer p-0 no-gutters">
                {% if row|in_cart:request.session.cart %}
                <div class="row no-gutters">
                    <div class="col-2 ">
                        <a href="{% url 'customer:item_decrement' row.id %}"
                            class="btn btn-block btn-light border-right">-</a>
                    </div>
                    <div class="text-center col">{{row|cart_quantity:request.session.cart}} in Cart</div>
                    <div class="col-2 ">
                        <a href="{% url 'customer:item_increment' row.id %}" class="btn btn-block btn-light border-right">
                            +
                        </a>
                    </div>
                </div>
                {% else %}

                <a href="{% url 'customer:cart_add' row.id %}" class="float-right btn btn-light form-control">
                    Add To Cart
                </a>

                {% endif %}
            </div>
        </div> <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </center>
    </div>
</div> <br><br><br><br>




{% endblock %}